In [1]:
from os import listdir
import re
import chardet
import pandas as pd
import datetime
from city import City
import mysql.connector
from mysql.connector.cursor import MySQLCursorPrepared

In [2]:
now = datetime.datetime.now()

In [3]:
df = pd.read_csv("worldcitiespop.csv")
df.head(1)

/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

  Country   City AccentCity Region  Population   Latitude  Longitude
0      ad  aixas      Aixàs      6         NaN  42.483333   1.466667

In [4]:
df.count()[0]

3173958

In [5]:
df = df[df["AccentCity"].notna()]
df = df[df["Latitude"].notna()]
df = df[df["Longitude"].notna()]
df.count()[0]

3173958

In [6]:
df = df.sort_values(["Population"], ascending=False)
df = df.drop_duplicates(subset=["AccentCity"], keep="first")

In [7]:
all_cities = set(df["AccentCity"])

In [8]:
def extract_cities(file_text):
    word_list = re.sub("[^\w]", " ",  file_text).split()
    return list(all_cities.intersection(word_list))

In [9]:
def extract_details(file_text):
    re_patterns = [
        "[ ]{0,4}Title: (.+)\n\n[ ]{0,4}Author: ([^\n]+)\n",
        "  We need your donations.\n\n\n([^\n]+)\n\nby ([^\n]+)\n\n",
        "\n\nTitle: (.+)\nAuthor: (.+)\nRelease Date: ",
        "\n\n\n\n\n\n[\d]{4}\n\n()\n\nby ()\n\n\nDramatis Personae",
    ]

    title = None
    author = None

    for pattern in re_patterns:
        try:
            result = re.search(pattern, file_text, re.DOTALL)
            title = result.group(1)
            author = result.group(2)
            break
        except:
            continue
    
    return title, author

In [ ]:
txt_files = [f for f in listdir() if f.endswith(".txt")]
#txt_files = [txt_files[0]]
success = 0
fail = 0

encoding_failed = []
regex_failed = []

books = []

for file_name in txt_files:
    
    with open(file_name, 'r') as file:
        
        try:
            file_text = file.read()
            
            title, author = extract_details(file_text)
            
            if author == None or title == None:
                print(file_name + "******REGEX*************************************************")
                fail += 1
                regex_failed.append(file_name)
                continue
            
            print(file_name)
            print("TITLE: " + title)
            print("AUTHOR: " + author + "\n")
            
            cities = extract_cities(file_text)
            
            
            success += 1
                
        except:
            print(file_name + "********ENCODING***********************************************")
            fail += 1
            encoding_failed.append(file_name)

print("Succes: " + str(success))
print("Fail: " + str(fail))
print("regex_errors: " + str(len(regex_failed)))
print("encoding_error: " + str(len(encoding_failed)))
print("Total: " + str(len(txt_files)))

In [ ]:
regex_failed[:10]

In [ ]:
encoding_failed[:10]

In [ ]:
time_diff = datetime.datetime.now() - now
time_diff.total_seconds() / 60

In [ ]:
c = City(1, "Berlin", 2, 2)

print(c.stringify())

In [10]:
con = mysql.connector.connect(
    host="localhost",
    user="dbexamuser",
    database="examdb",
    passwd="dbExam.group7",
    use_pure=True,
)
con.autocommit = False
mycursor = con.cursor(cursor_class=MySQLCursorPrepared)
print(con)

<mysql.connector.connection.MySQLConnection object at 0x7fe68bc4fd68>

In [11]:
def insert_cities():
    now = datetime.datetime.now()
    large_sql = ""
    counter = 1
    interval_counter = 0
    interval = 1000
    
    for i, row in df.iterrows():
        city_name = row["AccentCity"]
        city_long = row["Longitude"]
        city_lat = row["Latitude"]
        #print(city_name)
        #print(city_long)
        #print(city_lat)
        sql = """INSERT INTO examdb.cities (name, location) 
            VALUES (%s, Point(%s , %s));"""
        #sql = "INSERT INTO authors (name) VALUES ('bob');"
        #large_sql += sql
        
        insert_values = (city_name, city_lat, city_long)
        
        #print(sql % insert_values)
        #print("city name: ")
        #print(type(city_name))
        #print(counter)
        
        mycursor.execute(sql, insert_values)
        #print(mycursor.statement)
        
        if (counter >= interval_counter + interval):
            print(mycursor.statement)
            con.commit()
            interval_counter += interval
            print(counter)
            
        counter += 1
        
    #print(large_sql)
    #mycursor.execute(large_sql, multi = True)
    con.commit()
    
    time_diff = datetime.datetime.now() - now
    print(time_diff.total_seconds())

insert_cities()

INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
3000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
4000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
5000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
6000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
7000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
8000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
9000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
10000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
11000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
12000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
13000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
14000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
15000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
16000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
17000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
18000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
19000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
20000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
21000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
22000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
23000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
24000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
25000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
26000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
27000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
28000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
29000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
30000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
31000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
32000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
33000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
34000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
35000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
36000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
37000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
38000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
39000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
40000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
41000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
42000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
43000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
44000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
45000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
46000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
47000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
48000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
49000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
50000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
51000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
52000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
53000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
54000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
55000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
56000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
57000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
58000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
59000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
60000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
61000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
62000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
63000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
64000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
65000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
66000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
67000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
68000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
69000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
70000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
71000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
72000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
73000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
74000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
75000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
76000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
77000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
78000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
79000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
80000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
81000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
82000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
83000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
84000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
85000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
86000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
87000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
88000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
89000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
90000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
91000

INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
92000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
93000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
94000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
95000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
96000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
97000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
98000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
99000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
100000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
101000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
102000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
103000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
104000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
105000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
106000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
107000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
108000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
109000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
110000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
111000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
112000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
113000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
114000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
115000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
116000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
117000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
118000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
119000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
120000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
121000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
122000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
123000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
124000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
125000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
126000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
127000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
128000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
129000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
130000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
131000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
132000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
133000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
134000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
135000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
136000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
137000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
138000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
139000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
140000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
141000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
142000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
143000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
144000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
145000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
146000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
147000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
148000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
149000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
150000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
151000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
152000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
153000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
154000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
155000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
156000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
157000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
158000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
159000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
160000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
161000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
162000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
163000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
164000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
165000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
166000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
167000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
168000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
169000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
170000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
171000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
172000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
173000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
174000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
175000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
176000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
177000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
178000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
179000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
180000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
181000

INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
182000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
183000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
184000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
185000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
186000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
187000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
188000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
189000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
190000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
191000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
192000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
193000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
194000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
195000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
196000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
197000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
198000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
199000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
200000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
201000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
202000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
203000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
204000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
205000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
206000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
207000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
208000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
209000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
210000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
211000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
212000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
213000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
214000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
215000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
216000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
217000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
218000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
219000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
220000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
221000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
222000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
223000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
224000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
225000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
226000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
227000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
228000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
229000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
230000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
231000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
232000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
233000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
234000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
235000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
236000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
237000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
238000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
239000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
240000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
241000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
242000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
243000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
244000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
245000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
246000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
247000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
248000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
249000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
250000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
251000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
252000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
253000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
254000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
255000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
256000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
257000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
258000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
259000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
260000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
261000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
262000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
263000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
264000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
265000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
266000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
267000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
268000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
269000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
270000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
271000

INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
272000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
273000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
274000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
275000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
276000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
277000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
278000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
279000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
280000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
281000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
282000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
283000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
284000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
285000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
286000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
287000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
288000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
289000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
290000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
291000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
292000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
293000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
294000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
295000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
296000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
297000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
298000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
299000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
300000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
301000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
302000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
303000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
304000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
305000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
306000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
307000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
308000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
309000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
310000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
311000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
312000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
313000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
314000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
315000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
316000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
317000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
318000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
319000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
320000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
321000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
322000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
323000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
324000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
325000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
326000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
327000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
328000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
329000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
330000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
331000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
332000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
333000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
334000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
335000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
336000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
337000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
338000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
339000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
340000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
341000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
342000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
343000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
344000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
345000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
346000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
347000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
348000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
349000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
350000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
351000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
352000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
353000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
354000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
355000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
356000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
357000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
358000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
359000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
360000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
361000

INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
362000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
363000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
364000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
365000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
366000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
367000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
368000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
369000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
370000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
371000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
372000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
373000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
374000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
375000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
376000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
377000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
378000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
379000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
380000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
381000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
382000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
383000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
384000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
385000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
386000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
387000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
388000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
389000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
390000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
391000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
392000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
393000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
394000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
395000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
396000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
397000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
398000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
399000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
400000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
401000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
402000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
403000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
404000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
405000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
406000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
407000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
408000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
409000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
410000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
411000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
412000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
413000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
414000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
415000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
416000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
417000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
418000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
419000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
420000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
421000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
422000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
423000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
424000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
425000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
426000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
427000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
428000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
429000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
430000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
431000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
432000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
433000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
434000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
435000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
436000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
437000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
438000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
439000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
440000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
441000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
442000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
443000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
444000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
445000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
446000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
447000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
448000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
449000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
450000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
451000

INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
452000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
453000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
454000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
455000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
456000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
457000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
458000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
459000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
460000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
461000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
462000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
463000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
464000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
465000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
466000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
467000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
468000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
469000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
470000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
471000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
472000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
473000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
474000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
475000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
476000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
477000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
478000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
479000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
480000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
481000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
482000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
483000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
484000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
485000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
486000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
487000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
488000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
489000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
490000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
491000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
492000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
493000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
494000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
495000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
496000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
497000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
498000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
499000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
500000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
501000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
502000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
503000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
504000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
505000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
506000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
507000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
508000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
509000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
510000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
511000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
512000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
513000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
514000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
515000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
516000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
517000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
518000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
519000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
520000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
521000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
522000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
523000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
524000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
525000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
526000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
527000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
528000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
529000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
530000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
531000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
532000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
533000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
534000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
535000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
536000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
537000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
538000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
539000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
540000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
541000

INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
542000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
543000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
544000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
545000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
546000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
547000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
548000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
549000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
550000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
551000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
552000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
553000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
554000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
555000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
556000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
557000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
558000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
559000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
560000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
561000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
562000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
563000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
564000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
565000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
566000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
567000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
568000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
569000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
570000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
571000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
572000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
573000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
574000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
575000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
576000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
577000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
578000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
579000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
580000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
581000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
582000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
583000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
584000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
585000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
586000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
587000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
588000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
589000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
590000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
591000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
592000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
593000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
594000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
595000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
596000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
597000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
598000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
599000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
600000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
601000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
602000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
603000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
604000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
605000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
606000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
607000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
608000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
609000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
610000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
611000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
612000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
613000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
614000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
615000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
616000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
617000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
618000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
619000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
620000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
621000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
622000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
623000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
624000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
625000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
626000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
627000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
628000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
629000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
630000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
631000

INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
632000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
633000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
634000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
635000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
636000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
637000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
638000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
639000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
640000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
641000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
642000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
643000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
644000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
645000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
646000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
647000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
648000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
649000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
650000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
651000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
652000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
653000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
654000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
655000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
656000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
657000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
658000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
659000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
660000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
661000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
662000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
663000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
664000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
665000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
666000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
667000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
668000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
669000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
670000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
671000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
672000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
673000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
674000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
675000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
676000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
677000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
678000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
679000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
680000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
681000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
682000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
683000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
684000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
685000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
686000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
687000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
688000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
689000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
690000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
691000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
692000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
693000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
694000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
695000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
696000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
697000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
698000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
699000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
700000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
701000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
702000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
703000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
704000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
705000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
706000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
707000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
708000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
709000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
710000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
711000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
712000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
713000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
714000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
715000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
716000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
717000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
718000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
719000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
720000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
721000

INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
722000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
723000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
724000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
725000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
726000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
727000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
728000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
729000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
730000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
731000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
732000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
733000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
734000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
735000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
736000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
737000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
738000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
739000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
740000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
741000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
742000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
743000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
744000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
745000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
746000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
747000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
748000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
749000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
750000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
751000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
752000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
753000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
754000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
755000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
756000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
757000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
758000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
759000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
760000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
761000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
762000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
763000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
764000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
765000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
766000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
767000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
768000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
769000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
770000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
771000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
772000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
773000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
774000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
775000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
776000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
777000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
778000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
779000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
780000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
781000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
782000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
783000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
784000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
785000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
786000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
787000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
788000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
789000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
790000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
791000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
792000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
793000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
794000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
795000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
796000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
797000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
798000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
799000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
800000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
801000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
802000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
803000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
804000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
805000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
806000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
807000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
808000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
809000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
810000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
811000

INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
812000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
813000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
814000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
815000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
816000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
817000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
818000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
819000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
820000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
821000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
822000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
823000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
824000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
825000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
826000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
827000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
828000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
829000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
830000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
831000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
832000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
833000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
834000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
835000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
836000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
837000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
838000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
839000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
840000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
841000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
842000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
843000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
844000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
845000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
846000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
847000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
848000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
849000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
850000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
851000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
852000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
853000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
854000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
855000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
856000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
857000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
858000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
859000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
860000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
861000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
862000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
863000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
864000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
865000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
866000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
867000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
868000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
869000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
870000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
871000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
872000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
873000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
874000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
875000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
876000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
877000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
878000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
879000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
880000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
881000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
882000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
883000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
884000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
885000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
886000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
887000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
888000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
889000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
890000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
891000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
892000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
893000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
894000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
895000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
896000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
897000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
898000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
899000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
900000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
901000

INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
902000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
903000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
904000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
905000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
906000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
907000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
908000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
909000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
910000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
911000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
912000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
913000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
914000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
915000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
916000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
917000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
918000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
919000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
920000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
921000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
922000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
923000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
924000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
925000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
926000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
927000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
928000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
929000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
930000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
931000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
932000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
933000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
934000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
935000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
936000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
937000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
938000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
939000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
940000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
941000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
942000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
943000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
944000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
945000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
946000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
947000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
948000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
949000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
950000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
951000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
952000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
953000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
954000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
955000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
956000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
957000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
958000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
959000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
960000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
961000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
962000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
963000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
964000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
965000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
966000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
967000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
968000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
969000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
970000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
971000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
972000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
973000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
974000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
975000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
976000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
977000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
978000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
979000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
980000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
981000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
982000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
983000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
984000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
985000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
986000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
987000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
988000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
989000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
990000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
991000

INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
992000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
993000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
994000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
995000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
996000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
997000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
998000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
999000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1000000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1001000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1002000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1003000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1004000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1005000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1006000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1007000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1008000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1009000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1010000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1011000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1012000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1013000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1014000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1015000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1016000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1017000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1018000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1019000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1020000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1021000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1022000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1023000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1024000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1025000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1026000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1027000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1028000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1029000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1030000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1031000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1032000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1033000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1034000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1035000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1036000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1037000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1038000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1039000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1040000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1041000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1042000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1043000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1044000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1045000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1046000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1047000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1048000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1049000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1050000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1051000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1052000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1053000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1054000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1055000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1056000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1057000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1058000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1059000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1060000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1061000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1062000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1063000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1064000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1065000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1066000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1067000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1068000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1069000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1070000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1071000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1072000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1073000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1074000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1075000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1076000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1077000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1078000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1079000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1080000

INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1081000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1082000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1083000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1084000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1085000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1086000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1087000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1088000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1089000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1090000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1091000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1092000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1093000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1094000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1095000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1096000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1097000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1098000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1099000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1100000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1101000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1102000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1103000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1104000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1105000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1106000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1107000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1108000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1109000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1110000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1111000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1112000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1113000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1114000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1115000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1116000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1117000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1118000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1119000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1120000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1121000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1122000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1123000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1124000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1125000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1126000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1127000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1128000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1129000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1130000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1131000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1132000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1133000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1134000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1135000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1136000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1137000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1138000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1139000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1140000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1141000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1142000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1143000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1144000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1145000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1146000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1147000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1148000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1149000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1150000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1151000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1152000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1153000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1154000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1155000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1156000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1157000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1158000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1159000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1160000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1161000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1162000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1163000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1164000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1165000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1166000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1167000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1168000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1169000

INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1170000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1171000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1172000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1173000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1174000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1175000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1176000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1177000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1178000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1179000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1180000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1181000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1182000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1183000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1184000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1185000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1186000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1187000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1188000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1189000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1190000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1191000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1192000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1193000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1194000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1195000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1196000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1197000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1198000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1199000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1200000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1201000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1202000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1203000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1204000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1205000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1206000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1207000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1208000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1209000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1210000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1211000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1212000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1213000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1214000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1215000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1216000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1217000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1218000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1219000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1220000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1221000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1222000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1223000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1224000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1225000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1226000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1227000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1228000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1229000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1230000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1231000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1232000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1233000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1234000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1235000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1236000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1237000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1238000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1239000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1240000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1241000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1242000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1243000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1244000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1245000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1246000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1247000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1248000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1249000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1250000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1251000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1252000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1253000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1254000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1255000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1256000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1257000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1258000

INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1259000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1260000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1261000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1262000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1263000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1264000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1265000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1266000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1267000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1268000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1269000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1270000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1271000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1272000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1273000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1274000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1275000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1276000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1277000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1278000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1279000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1280000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1281000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1282000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1283000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1284000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1285000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1286000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1287000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1288000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1289000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1290000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1291000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1292000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1293000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1294000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1295000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1296000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1297000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1298000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1299000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1300000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1301000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1302000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1303000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1304000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1305000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1306000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1307000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1308000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1309000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1310000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1311000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1312000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1313000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1314000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1315000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1316000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1317000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1318000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1319000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1320000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1321000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1322000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1323000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1324000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1325000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1326000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1327000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1328000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1329000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1330000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1331000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1332000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1333000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1334000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1335000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1336000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1337000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1338000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1339000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1340000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1341000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1342000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1343000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1344000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1345000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1346000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1347000

INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1348000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1349000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1350000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1351000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1352000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1353000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1354000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1355000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1356000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1357000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1358000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1359000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1360000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1361000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1362000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1363000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1364000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1365000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1366000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1367000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1368000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1369000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1370000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1371000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1372000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1373000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1374000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1375000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1376000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1377000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1378000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1379000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1380000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1381000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1382000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1383000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1384000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1385000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1386000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1387000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1388000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1389000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1390000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1391000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1392000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1393000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1394000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1395000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1396000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1397000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1398000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1399000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1400000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1401000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1402000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1403000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1404000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1405000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1406000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1407000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1408000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1409000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1410000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1411000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1412000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1413000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1414000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1415000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1416000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1417000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1418000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1419000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1420000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1421000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1422000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1423000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1424000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1425000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1426000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1427000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1428000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1429000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1430000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1431000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1432000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1433000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1434000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1435000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1436000

INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1437000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1438000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1439000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1440000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1441000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1442000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1443000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1444000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1445000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1446000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1447000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1448000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1449000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1450000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1451000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1452000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1453000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1454000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1455000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1456000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1457000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1458000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1459000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1460000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1461000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1462000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1463000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1464000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1465000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1466000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1467000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1468000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1469000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1470000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1471000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1472000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1473000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1474000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1475000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1476000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1477000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1478000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1479000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1480000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1481000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1482000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1483000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1484000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1485000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1486000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1487000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1488000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1489000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1490000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1491000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1492000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1493000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1494000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1495000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1496000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1497000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1498000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1499000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1500000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1501000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1502000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1503000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1504000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1505000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1506000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1507000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1508000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1509000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1510000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1511000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1512000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1513000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1514000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1515000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1516000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1517000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1518000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1519000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1520000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1521000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1522000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1523000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1524000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1525000

INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1526000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1527000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1528000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1529000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1530000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1531000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1532000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1533000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1534000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1535000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1536000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1537000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1538000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1539000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1540000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1541000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1542000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1543000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1544000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1545000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1546000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1547000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1548000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1549000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1550000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1551000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1552000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1553000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1554000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1555000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1556000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1557000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1558000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1559000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1560000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1561000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1562000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1563000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1564000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1565000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1566000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1567000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1568000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1569000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1570000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1571000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1572000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1573000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1574000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1575000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1576000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1577000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1578000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1579000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1580000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1581000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1582000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1583000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1584000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1585000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1586000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1587000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1588000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1589000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1590000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1591000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1592000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1593000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1594000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1595000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1596000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1597000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1598000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1599000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1600000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1601000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1602000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1603000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1604000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1605000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1606000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1607000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1608000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1609000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1610000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1611000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1612000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1613000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1614000

INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1615000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1616000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1617000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1618000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1619000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1620000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1621000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1622000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1623000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1624000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1625000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1626000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1627000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1628000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1629000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1630000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1631000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1632000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1633000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1634000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1635000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1636000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1637000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1638000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1639000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1640000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1641000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1642000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1643000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1644000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1645000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1646000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1647000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1648000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1649000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1650000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1651000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1652000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1653000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1654000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1655000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1656000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1657000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1658000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1659000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1660000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1661000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1662000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1663000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1664000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1665000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1666000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1667000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1668000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1669000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1670000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1671000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1672000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1673000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1674000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1675000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1676000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1677000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1678000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1679000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1680000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1681000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1682000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1683000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1684000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1685000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1686000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1687000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1688000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1689000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1690000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1691000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1692000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1693000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1694000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1695000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1696000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1697000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1698000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1699000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1700000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1701000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1702000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1703000

INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1704000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1705000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1706000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1707000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1708000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1709000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1710000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1711000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1712000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1713000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1714000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1715000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1716000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1717000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1718000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1719000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1720000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1721000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1722000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1723000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1724000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1725000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1726000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1727000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1728000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1729000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1730000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1731000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1732000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1733000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1734000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1735000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1736000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1737000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1738000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1739000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1740000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1741000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1742000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1743000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1744000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1745000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1746000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1747000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1748000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1749000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1750000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1751000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1752000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1753000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1754000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1755000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1756000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1757000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1758000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1759000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1760000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1761000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1762000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1763000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1764000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1765000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1766000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1767000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1768000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1769000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1770000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1771000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1772000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1773000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1774000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1775000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1776000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1777000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1778000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1779000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1780000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1781000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1782000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1783000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1784000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1785000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1786000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1787000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1788000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1789000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1790000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1791000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1792000

INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1793000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1794000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1795000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1796000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1797000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1798000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1799000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1800000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1801000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1802000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1803000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1804000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1805000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1806000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1807000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1808000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1809000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1810000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1811000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1812000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1813000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1814000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1815000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1816000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1817000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1818000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1819000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1820000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1821000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1822000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1823000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1824000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1825000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1826000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1827000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1828000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1829000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1830000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1831000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1832000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1833000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1834000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1835000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1836000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1837000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1838000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1839000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1840000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1841000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1842000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1843000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1844000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1845000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1846000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1847000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1848000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1849000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1850000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1851000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1852000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1853000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1854000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1855000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1856000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1857000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1858000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1859000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1860000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1861000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1862000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1863000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1864000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1865000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1866000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1867000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1868000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1869000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1870000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1871000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1872000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1873000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1874000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1875000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1876000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1877000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1878000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1879000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1880000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1881000

INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1882000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1883000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1884000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1885000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1886000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1887000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1888000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1889000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1890000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1891000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1892000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1893000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1894000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1895000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1896000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1897000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1898000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1899000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1900000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1901000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1902000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1903000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1904000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1905000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1906000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1907000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1908000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1909000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1910000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1911000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1912000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1913000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1914000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1915000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1916000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1917000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1918000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1919000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1920000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1921000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1922000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1923000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1924000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1925000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1926000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1927000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1928000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1929000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1930000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1931000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1932000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1933000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1934000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1935000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1936000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1937000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1938000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1939000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1940000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1941000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1942000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1943000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1944000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1945000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1946000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1947000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1948000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1949000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1950000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1951000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1952000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1953000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1954000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1955000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1956000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1957000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1958000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1959000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1960000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1961000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1962000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1963000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1964000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1965000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1966000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1967000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1968000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1969000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1970000

INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1971000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1972000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1973000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1974000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1975000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1976000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1977000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1978000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1979000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1980000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1981000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1982000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1983000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1984000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1985000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1986000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1987000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1988000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1989000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1990000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1991000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1992000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1993000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1994000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1995000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1996000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1997000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1998000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
1999000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2000000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2001000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2002000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2003000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2004000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2005000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2006000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2007000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2008000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2009000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2010000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2011000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2012000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2013000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2014000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2015000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2016000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2017000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2018000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2019000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2020000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2021000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2022000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2023000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2024000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2025000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2026000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2027000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2028000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2029000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2030000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2031000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2032000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2033000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2034000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2035000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2036000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2037000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2038000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2039000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2040000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2041000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2042000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2043000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2044000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2045000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2046000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2047000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2048000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2049000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2050000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2051000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2052000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2053000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2054000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2055000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2056000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2057000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2058000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2059000

INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2060000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2061000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2062000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2063000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2064000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2065000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2066000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2067000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2068000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2069000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2070000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2071000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2072000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2073000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2074000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2075000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2076000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2077000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2078000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2079000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2080000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2081000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2082000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2083000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2084000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2085000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2086000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2087000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2088000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2089000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2090000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2091000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2092000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2093000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2094000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2095000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2096000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2097000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2098000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2099000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2100000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2101000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2102000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2103000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2104000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2105000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2106000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2107000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2108000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2109000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2110000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2111000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2112000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2113000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2114000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2115000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2116000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2117000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2118000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2119000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2120000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2121000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2122000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2123000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2124000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2125000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2126000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2127000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2128000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2129000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2130000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2131000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2132000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2133000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2134000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2135000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2136000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2137000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2138000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2139000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2140000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2141000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2142000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2143000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2144000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2145000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2146000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2147000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2148000

INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2149000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2150000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2151000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2152000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2153000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2154000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2155000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2156000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2157000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2158000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2159000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2160000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2161000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2162000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2163000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2164000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2165000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2166000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2167000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2168000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2169000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2170000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2171000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2172000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2173000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2174000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2175000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2176000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2177000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2178000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2179000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2180000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2181000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2182000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2183000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2184000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2185000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2186000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2187000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2188000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2189000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2190000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2191000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2192000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2193000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2194000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2195000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2196000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2197000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2198000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2199000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2200000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2201000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2202000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2203000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2204000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2205000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2206000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2207000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2208000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2209000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2210000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2211000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2212000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2213000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2214000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2215000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2216000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2217000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2218000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2219000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2220000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2221000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2222000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2223000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2224000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2225000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2226000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2227000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2228000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2229000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2230000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2231000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2232000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2233000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2234000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2235000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2236000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2237000

INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2238000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2239000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2240000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2241000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2242000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2243000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2244000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2245000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2246000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2247000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2248000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2249000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2250000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2251000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2252000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2253000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2254000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2255000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2256000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2257000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2258000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2259000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2260000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2261000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2262000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2263000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2264000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2265000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2266000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2267000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2268000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2269000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2270000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2271000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2272000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2273000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2274000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2275000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2276000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2277000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2278000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2279000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2280000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2281000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2282000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2283000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2284000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2285000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2286000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2287000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2288000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2289000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2290000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2291000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2292000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2293000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2294000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2295000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2296000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2297000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2298000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2299000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2300000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2301000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2302000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2303000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2304000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2305000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2306000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2307000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2308000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2309000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2310000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2311000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2312000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2313000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2314000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2315000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2316000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2317000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2318000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2319000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2320000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2321000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2322000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2323000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2324000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2325000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2326000

INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2327000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2328000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2329000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2330000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2331000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2332000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2333000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2334000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2335000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2336000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2337000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2338000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2339000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2340000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2341000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2342000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2343000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2344000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2345000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2346000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2347000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2348000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2349000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2350000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2351000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2352000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2353000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2354000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2355000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2356000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2357000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2358000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2359000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2360000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2361000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2362000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2363000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2364000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2365000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2366000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2367000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2368000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2369000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2370000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2371000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2372000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2373000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2374000
INSERT INTO examdb.cities (name, location)
            VALUES (%s, Point(%s , %s));
2375000
940.366863

In [12]:
print("done")

done

In [13]:
con.close()
mycursor.close()

In [ ]:
#df[df["Latitude"] == 42.5833333]