In [1]:
from os import listdir
import re
import chardet
import pandas as pd
import datetime
from city import City
import mysql.connector

In [2]:
now = datetime.datetime.now()

In [3]:
df = pd.read_csv("worldcitiespop.csv")
df.head(1)

/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

  Country   City AccentCity Region  Population   Latitude  Longitude
0      ad  aixas      Aixàs      6         NaN  42.483333   1.466667

In [4]:
df.count()[0]

3173958

In [5]:
df = df[df["AccentCity"].notna()]
df = df[df["Latitude"].notna()]
df = df[df["Longitude"].notna()]
df.count()[0]

3173958

In [6]:
df = df.sort_values(["Population"], ascending=False)
df = df.drop_duplicates(subset=["AccentCity"], keep="first")

In [7]:
all_cities = set(df["AccentCity"])

In [8]:
def extract_cities(file_text):
    word_list = re.sub("[^\w]", " ",  file_text).split()
    return list(all_cities.intersection(word_list))

In [9]:
def extract_details(file_text):
    re_patterns = [
        "[ ]{0,4}Title: (.+)\n\n[ ]{0,4}Author: ([^\n]+)\n",
        "  We need your donations.\n\n\n([^\n]+)\n\nby ([^\n]+)\n\n",
        "\n\nTitle: (.+)\nAuthor: (.+)\nRelease Date: ",
        "\n\n\n\n\n\n[\d]{4}\n\n()\n\nby ()\n\n\nDramatis Personae",
    ]

    title = None
    author = None

    for pattern in re_patterns:
        try:
            result = re.search(pattern, file_text, re.DOTALL)
            title = result.group(1)
            author = result.group(2)
            break
        except:
            continue
    
    return title, author

In [ ]:
txt_files = [f for f in listdir() if f.endswith(".txt")]
#txt_files = [txt_files[0]]
success = 0
fail = 0

encoding_failed = []
regex_failed = []

books = []

for file_name in txt_files:
    
    with open(file_name, 'r') as file:
        
        try:
            file_text = file.read()
            
            title, author = extract_details(file_text)
            
            if author == None or title == None:
                print(file_name + "******REGEX*************************************************")
                fail += 1
                regex_failed.append(file_name)
                continue
            
            print(file_name)
            print("TITLE: " + title)
            print("AUTHOR: " + author + "\n")
            
            cities = extract_cities(file_text)
            
            
            success += 1
                
        except:
            print(file_name + "********ENCODING***********************************************")
            fail += 1
            encoding_failed.append(file_name)

print("Succes: " + str(success))
print("Fail: " + str(fail))
print("regex_errors: " + str(len(regex_failed)))
print("encoding_error: " + str(len(encoding_failed)))
print("Total: " + str(len(txt_files)))

In [ ]:
regex_failed[:10]

In [ ]:
encoding_failed[:10]

In [ ]:
time_diff = datetime.datetime.now() - now
time_diff.total_seconds() / 60

In [ ]:
c = City(1, "Berlin", 2, 2)

print(c.stringify())

In [61]:
con = mysql.connector.connect(
    host="localhost",
    user="dbexamuser",
    database="examdb",
    passwd="dbExam.group7"
)
con.autocommit = False
mycursor = con.cursor(prepared=True)
print(con)

<mysql.connector.connection.MySQLConnection object at 0x7f7580c10c88>

In [63]:
def insert_cities():
    now = datetime.datetime.now()
    large_sql = ""
    counter = 1
    interval_counter = 0
    interval = 1000
    
    for i, row in df[:1000].iterrows():
        city_name = row["AccentCity"]
        city_long = row["Longitude"]
        city_lat = row["Latitude"]
        #print(city_name)
        #print(city_long)
        #print(city_lat)
        sql = "\nINSERT INTO examdb.cities (name, location) VALUES ('{}', ST_GeomFromText('POINT({} {})'));".format(city_name, city_long, city_lat)
        large_sql += sql
        #print(sql)
        mycursor.execute(sql)
        #print(mycursor.lastrowid)
        
        if (counter >= interval_counter + interval):
            con.commit()
            interval_counter += interval
            print(counter)
            
        counter += 1
        
    #print(large_sql)
    #mycursor.execute(large_sql, multi = True)
    con.commit()
    
    time_diff = datetime.datetime.now() - now
    print(time_diff.total_seconds())

insert_cities()

1000
45.498794

In [64]:
print("done")

done

In [65]:
con.close()
mycursor.close()