In [1]:
from os import listdir
import re
import chardet
import pandas as pd
import datetime
from city import City
import mysql.connector
from mysql.connector.cursor import MySQLCursorPrepared
import json

In [ ]:
df = pd.read_csv("cities15000.csv", sep="\t", header=None)
df[df[5] > 100].head()

In [ ]:
df.rename(columns={1:'AccentCity'}, inplace=True)
df.rename(columns={4:'Latitude'}, inplace=True)
df.rename(columns={5:'Longitude'}, inplace=True)
df.head(1)

In [ ]:
con = mysql.connector.connect(
    host="localhost",
    user="dbexamuser",
    database="examdb",
    passwd="dbExam.group7",
    use_pure=True,
)
print("con created")
con.autocommit = False
mycursor = con.cursor(cursor_class=MySQLCursorPrepared)
print(con)

In [ ]:
def insert_cities():
    now = datetime.datetime.now()
    large_sql = ""
    counter = 1
    interval_counter = 0
    interval = 1000
    
    for i, row in df.iterrows():
        city_name = row["AccentCity"]
        city_long = row["Longitude"]
        city_lat = row["Latitude"]
        sql = """
            INSERT INTO examdb.cities 
            (name, latitude, longtitude) 
            VALUES (%s, %s , %s);
            """
        
        insert_values = (city_name, city_lat, city_long)
        
        mycursor.execute(sql, insert_values)
        #print(mycursor.statement)
        #print(sql % insert_values)
        
        if (counter >= interval_counter + interval):
            con.commit()
            interval_counter += interval
            print(counter)
            
        counter += 1
        
    #print(large_sql)
    #mycursor.execute(large_sql, multi = True)
    con.commit()
    
    time_diff = datetime.datetime.now() - now
    print(time_diff.total_seconds())

insert_cities()

In [ ]:
print("done")

In [ ]:
con.close()
mycursor.close()

In [41]:
book = {
    "title":"tile", 
    "author":"auhor",
    "city_names":["London","Paris","Berlin"],
}
book["title"]

'tile'

In [45]:
con = mysql.connector.connect(
    host="localhost",
    user="dbexamuser",
    database="examdb",
    passwd="dbExam.group7",
    use_pure=True,
)
con.autocommit = False
mycursor = con.cursor(cursor_class=MySQLCursorPrepared)
print(con)

<mysql.connector.connection.MySQLConnection object at 0x7fe330f35e80>

In [46]:


sql = "call insert_book(%s, %s);"

insert_values = (book["title"], book["author"])

now = datetime.datetime.now()

mycursor.execute(sql, insert_values)

bookid = mycursor.fetchone()[0]


con.commit()

time_diff = datetime.datetime.now() - now
print(time_diff.total_seconds())

6
0.002856

In [34]:
print("done")

done

In [40]:
con.close()
mycursor.close()